.print-container {
  margin: 10px;  
}

.print-container h3 {
  border-bottom: 2px dashed #c6c6c6;
}

.back-btn {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  align-self: flex-start;
}

.icon-arrow-left {
  width: 1rem;
}