.print-container {
  margin: 10px;  
}

.print-container h3 {
  border-bottom: 2px dashed #c6c6c6;
}

.print-button {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  align-self: flex-start;
}

.icon-arrow-left {
  width: 1rem;
}

.print-box {  
  border-bottom: 2px dashed #c6c6c6;
}

.print-data {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #c6c6c6;
  width: 100%;
  display: grid;
  grid-template-columns: 70% auto;
  gap: 10px;
}

.message {
  border: 1px solid #c6c6c6;  
}

.signature {  
  margin: 50px;
  border-bottom: 1px#c6c6c6;
  width: 200px;
  display: flex;  
  flex-direction: column;
  align-items: center;  
}

.signature hr {
  width: 100%;
}