* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h3 {
  text-align: center;
}



/* 
colors: 
nice gray = #e6e3e3
green = #04AA6D
*/
