* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h3 {
  text-align: center;
}

button {
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
  gap: 10px;
}

button:hover {
  color: #156415;
  background-image: linear-gradient(180deg, #ffffff, #a8a6a6);
}

/* 
colors: 
nice gray = #e6e3e3
green = #04AA6D
*/
