header {
    padding: 0;
    margin: 0;
    background-color: #704040;
}
.nav-bar {
    background-color: #cfa8e0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

}

.nav-bar menu {
    background-color: #08ad10;    
    text-align: center;
    
}

.nav-bar menu:hover {
    background-color: #000;
    color: #fff;

}
.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.nav-bar li {
    background-color: #30727a;
    color: #fff;
    min-width: 5vw;
    cursor: pointer;
    text-align: center;
    
}

.nav-bar li:hover {
    background-color: #3a5e3d;
}
