header {
  padding: 0;
  margin: 0;
  background-color: #dfe9f6;
  color: darkslategray;
}
.nav-bar {
  background-color: #cfa8e0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.nav-bar .menu {
  color: #fff;
  background-color: #7e1f1c;
  text-align: center;
  min-width: 5vw;
  height: 50px;
  cursor: pointer;
}

.nav-bar .menu:hover {
  background-color: #000;
  color: #fff;
}
.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-bar li {
  background-color: darkslategray;
  color: #fff;
  min-width: 5vw;

  cursor: pointer;
  text-align: center;
}

.nav-bar li:hover {
  background-color: #0400da;
}
