.home {  
  display: grid;
  grid-template-rows: 50px 30px auto 40px;
  min-height: 100vh;  
}

.home h1 {
  color: #04AA6D;
}

.display {
  background-color: #04AA6D;
  color: azure;
  padding: 10px;
}