footer {
  background-color: #282a36;
  color: #f0ffff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}

.footer-link {
  text-decoration: none;
  color: #f6f6f6;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #fff;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 130px;
  background-color: azure;
  color: #1c1c1c;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: azure transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
